canvas {
    border: 2px solid black;
    margin: 0;
}

/*
================NEWAPPROACH================
*/
#board {

    border: 1px solid black;

}


#board .row {
    display:flex;
}

#board .row .block {
    margin: 0px;
    border: 1px solid black;
}



/*
================NEWAPPROACH================
*/

#outer {
    display: flex;
}

#positions-box {

    border: 2px solid rebeccapurple;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

#positions-box div {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
}

button.setbutton {
    font-size: 15px;
    margin-left: 10px;
}

button.bigbutton {

        font-size: 30px;
        width: fit-content;
        margin: 10px;
        height: fit-content;
        background-color: honeydew;
        border: 1px solid black;
}

#setup-form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

input[type="text"], input[type="text"]:focus {

    width: 5ch;
    height: 30px;
    font-size: auto;
    text-align: center;
    border: 1px solid black;
}

label {

    font-size: 20px;
   
}