#gridCanvas {
    border: 0.5vmin solid black;
    margin: 0;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
    width: 80%
}

body {
    background-image: linear-gradient(lightblue, darkblue);
}
#board {

    border: 1px solid black;

}


#board .row {
    display:flex;
}

#board .row .block {
    margin: 0px;
    border: 1px solid black;
}



/*
================NEWAPPROACH================
*/
@media (min-width:320px) {
    #outer {
        text-align: center;
    }
}

@media (min-width:1000px) {
    #outer {
        display: flex;
    }
}

#positions-box {
    margin-bottom: 2vh;
}

#positions-box div {
        display: flex;
        margin-top:2vh;
        margin-bottom: 2vh;
        justify-content: center;
}

button.setbutton {
    font-size: 2vh;
    margin-left: 1vw;
}

button.bigbutton {

        font-size: 3vh;
        width: fit-content;
        margin: 1vh;
        height: fit-content;
        background-color: honeydew;
        border: 1px solid black;
}

#setup-form {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2vh;
    border: 10px solid white;
    border-radius: 10px;
    color: white;
    
}

input[type="text"], input[type="text"]:focus {

    width: 5ch;
    height: 30px;
    font-size: auto;
    text-align: center;
    border: 1px solid black;
}

label {

    font-size: 3vh;
   
}


#rightContainer {
    justify-content: space-around;
    max-height: 100vh;
    margin: auto;
    color: rgb(58, 0, 81);
}

#instructionsContainer {
    width: 70%;
    margin: auto;
    margin-bottom: 4vh;
    text-align: center;
    font-size: 1.2vw;
    line-height: 1.5vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
